* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  display: inline-flex;
}

#buttons {
  list-style: none;
}

#title {
  font-weight: bold;
}

#right-wrong {
  color: grey;
  font-style: italic;
  font-weight: 100;
}